# ComfyUI Server
SERVER_ADDRESS=127.0.0.1:8188
# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=your-bucket-name
S3_ENDPOINT_URL=https://s3.example.com
S3_CUSTOM_DOMAIN=https://s3.example.com
S3_ENABLED=true
# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
API_WORKERS=4
API_BASE_URL=http://localhost:8000
# Monitoring & Metrics
GRADIO_URL=127.0.0.1:7860
PROMETHEUS_URL=127.0.0.1:9090
NODE_EXPORTER_URL=127.0.0.1:9100
ALERT_MANAGER_URL=127.0.0.1:9093
METRICS_ENABLED=true
INSTRUMENTATOR_ENV_VAR=METRICS_ENABLED
# Redis
REDIS_URL=redis://localhost:6379/0
# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
# Vast AI
VAST_AI_USERNAME=vastai
# Misc
DEBUG=True
OPEN_BUTTON_TOKEN=your_open_button_token
